h1, h2, p {
    text-align: center;
}

.webpage {
    background-color: lightblue;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 500px;
}

body {
    background-image: url(https://github.com/clark-bai/clark-bai.github.io/blob/main/IMG_1864.jpeg?raw=true);
    
}